# Nuxt
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
*.tgz
.DS_Store
.fleet
.idea
coverage
lib-cov
temp

# Local env files
.env
.env.*
!.env.example

