@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-blue-50: #f3f7ff;
  --color-blue-100: #e1e9fe;
  --color-blue-200: #c9d6fa;
  --color-blue-300: #94aff2;
  --color-blue-400: #6288ea;
  --color-blue-500: #1e51d4;
  --color-blue-600: #1a44b7;
  --color-blue-700: #153493;
  --color-blue-800: #10256f;
  --color-blue-900: #091747;
  --color-green-50: #f6f6e1;
  --color-green-100: #eaefc7;
  --color-green-200: #c7deb3;
  --color-green-300: #9cc89a;
  --color-green-400: #73af83;
  --color-green-500: #5a9374;
  --color-green-600: #497663;
  --color-green-700: #3b5e56;
  --color-green-800: #2d4648;
  --color-green-900: #1f2f3b;
  --color-red-50: #ffe7de;
  --color-red-100: #ffd4c3;
  --color-red-200: #f2a78f;
  --color-red-300: #e79184;
  --color-red-400: #dd7571;
  --color-red-500: #d45b5a;
  --color-red-600: #ae4b4f;
  --color-red-700: #884048;
  --color-red-800: #5b323f;
  --color-red-900: #392838;
  --color-grey-50: #f7f7f9;
  --color-grey-100: #eceef2;
  --color-grey-200: #d2d5de;
  --color-grey-300: #a3a9b9;
  --color-grey-400: #808696;
  --color-grey-500: #565c6d;
  --color-grey-600: #444b5c;
  --color-grey-700: #333a4a;
  --color-grey-800: #242b3e;
  --color-grey-900: #151d31;
  --color-brand-primary-50: #f3f7ff;
  --color-brand-primary-100: #e1e9fe;
  --color-brand-primary-200: #c9d6fa;
  --color-brand-primary-300: #94aff2;
  --color-brand-primary-400: #94aff2;
  --color-brand-primary-500: #1e51d4;
  --color-brand-primary-600: #1a44b7;
  --color-brand-primary-700: #153493;
  --color-brand-primary-800: #10256f;
  --color-brand-primary-900: #091747;
}
