@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-blue-50: #f8f9fc;
  --color-blue-100: #e6eaf3;
  --color-blue-200: #b1bfdc;
  --color-blue-300: #8ca0cb;
  --color-blue-400: #6983bb;
  --color-blue-500: #50669f;
  --color-blue-600: #3f527f;
  --color-blue-700: #37476f;
  --color-blue-800: #2f3c5e;
  --color-blue-900: #232d47;
  --color-green-50: #f6fafb;
  --color-green-100: #ddedf0;
  --color-green-200: #93c7d0;
  --color-green-300: #5cabb8;
  --color-green-400: #2790a0;
  --color-green-500: #0c7282;
  --color-green-600: #1e5a64;
  --color-green-700: #234e55;
  --color-green-800: #244246;
  --color-green-900: #213033;
  --color-red-50: #fef7f8;
  --color-red-100: #fbe4e5;
  --color-red-200: #f3acb0;
  --color-red-300: #ed7f86;
  --color-red-400: #e0545d;
  --color-red-500: #b1434a;
  --color-red-600: #8e353b;
  --color-red-700: #7b2e33;
  --color-red-800: #6a282c;
  --color-red-900: #4f1e21;
  --color-yellow-50: #fff5d7;
  --color-yellow-100: #ffda68;
  --color-yellow-200: #e2b73e;
  --color-yellow-300: #c4992a;
  --color-yellow-400: #a77c18;
  --color-yellow-500: #8b6005;
  --color-yellow-600: #6f4c04;
  --color-yellow-700: #604203;
  --color-yellow-800: #523803;
  --color-yellow-900: #3e2a02;
  --color-brand-primary-50: #f8f9fc;
  --color-brand-primary-100: #e6eaf3;
  --color-brand-primary-200: #b1bfdc;
  --color-brand-primary-300: #8ca0cb;
  --color-brand-primary-400: #8ca0cb;
  --color-brand-primary-500: #50669f;
  --color-brand-primary-600: #3f527f;
  --color-brand-primary-700: #37476f;
  --color-brand-primary-800: #2f3c5e;
  --color-brand-primary-900: #232d47;
  --color-brand-secondary-50: #fef7f8;
  --color-brand-secondary-100: #fbe4e5;
  --color-brand-secondary-200: #f3acb0;
  --color-brand-secondary-300: #ed7f86;
  --color-brand-secondary-400: #e0545d;
  --color-brand-secondary-500: #b1434a;
  --color-brand-secondary-600: #8e353b;
  --color-brand-secondary-700: #7b2e33;
  --color-brand-secondary-800: #6a282c;
  --color-brand-secondary-900: #4f1e21;
  --color-slate-50: #f8f9fa;
  --color-slate-100: #e9eaee;
  --color-slate-200: #babecb;
  --color-slate-300: #9aa0b3;
  --color-slate-400: #7b849c;
  --color-slate-500: #5d6785;
  --color-slate-600: #465173;
  --color-slate-700: #3c4764;
  --color-slate-800: #333c56;
  --color-slate-900: #272d41;
  --color-grey-50: #f8f9f9;
  --color-grey-100: #ededed;
  --color-grey-200: #bfc2c8;
  --color-grey-300: #a0a4ad;
  --color-grey-400: #838894;
  --color-grey-500: #666c7a;
  --color-grey-600: #505660;
  --color-grey-700: #454953;
  --color-grey-800: #3a3e46;
  --color-grey-900: #2c2e34;
  --color-standard-white: #ffffff;
  --color-standard-black: #000000;
  --color-skin-1-base: #ffcaa4;
  --color-skin-1-shadow: #f5b896;
  --color-skin-2-base: #eba687;
  --color-skin-2-shadow: #e29b7b;
  --color-skin-3-base: #d98f6f;
  --color-skin-3-shadow: #ce8361;
  --color-skin-4-base: #bf7657;
  --color-skin-4-shadow: #af6d53;
  --color-skin-5-base: #9f634f;
  --color-skin-5-shadow: #8b5544;
  --color-skin-6-base: #764738;
  --color-skin-6-shadow: #633d32;
  --color-base-canvas-default: #ffffff;
  --color-base-canvas-alt: #f8f9f9;
  --color-base-canvas-backdrop: #ededed;
  --color-base-canvas-brand-subtle: #f8f9fc;
  --color-base-canvas-inverse: #3a3e46;
  --color-base-canvas-overlay: rgba(58, 62, 70, 0.8);
  --color-base-content-default: #454953;
  --color-base-content-strong: #2c2e34;
  --color-base-content-medium: #666c7a;
  --color-base-content-brand: #50669f;
  --color-base-content-inverse: #ffffff;
  --color-base-divider-subtle: #f8f9f9;
  --color-base-divider-medium: #ededed;
  --color-base-divider-strong: #bfc2c8;
  --color-base-divider-inverse: #ffffff;
  --color-base-divider-brand: #50669f;
  --color-interaction-main-default: #50669f;
  --color-interaction-main-hover: #3f527f;
  --color-interaction-main-active: #37476f;
  --color-interaction-main-subtle-default: #e6eaf3;
  --color-interaction-main-subtle-hover: #b1bfdc;
  --color-interaction-main-subtle-active: #8ca0cb;
  --color-interaction-sub-default: #b1434a;
  --color-interaction-sub-hover: #8e353b;
  --color-interaction-sub-active: #7b2e33;
  --color-interaction-sub-subtle-default: #fbe4e5;
  --color-interaction-sub-subtle-hover: #f3acb0;
  --color-interaction-sub-subtle-active: #ed7f86;
  --color-interaction-critical-default: #b1434a;
  --color-interaction-critical-hover: #8e353b;
  --color-interaction-critical-active: #7b2e33;
  --color-interaction-critical-subtle-default: #fbe4e5;
  --color-interaction-critical-subtle-hover: #f3acb0;
  --color-interaction-critical-subtle-active: #ed7f86;
  --color-interaction-warning-default: #ffda68;
  --color-interaction-warning-hover: #e2b73e;
  --color-interaction-warning-active: #c4992a;
  --color-interaction-warning-subtle-default: #fff5d7;
  --color-interaction-warning-subtle-hover: #ffda68;
  --color-interaction-warning-subtle-active: #e2b73e;
  --color-interaction-success-default: #0c7282;
  --color-interaction-success-hover: #1e5a64;
  --color-interaction-success-active: #234e55;
  --color-interaction-success-subtle-default: #ddedf0;
  --color-interaction-success-subtle-hover: #93c7d0;
  --color-interaction-success-subtle-active: #5cabb8;
  --color-interaction-neutral-default: #666c7a;
  --color-interaction-neutral-hover: #505660;
  --color-interaction-neutral-active: #454953;
  --color-interaction-neutral-subtle-default: #f8f9f9;
  --color-interaction-neutral-subtle-hover: #ededed;
  --color-interaction-neutral-subtle-active: #bfc2c8;
  --color-interaction-muted-main-hover: #f8f9fc;
  --color-interaction-muted-main-active: #e6eaf3;
  --color-interaction-muted-sub-hover: #fef7f8;
  --color-interaction-muted-sub-active: #fbe4e5;
  --color-interaction-muted-critical-hover: #fef7f8;
  --color-interaction-muted-critical-active: #fbe4e5;
  --color-interaction-muted-neutral-hover: #f8f9f9;
  --color-interaction-muted-neutral-active: #ededed;
  --color-interaction-tinted-main-hover: rgba(80, 102, 159, 0.04);
  --color-interaction-tinted-main-active: rgba(80, 102, 159, 0.12);
  --color-interaction-tinted-sub-hover: rgba(177, 67, 74, 0.04);
  --color-interaction-tinted-sub-active: rgba(177, 67, 74, 0.12);
  --color-interaction-tinted-critical-hover: rgba(177, 67, 74, 0.04);
  --color-interaction-tinted-critical-active: rgba(177, 67, 74, 0.12);
  --color-interaction-tinted-neutral-hover: rgba(0, 0, 0, 0.1);
  --color-interaction-tinted-neutral-active: rgba(0, 0, 0, 0.2);
  --color-interaction-tinted-inverse-hover: rgba(255, 255, 255, 0.1);
  --color-interaction-tinted-inverse-active: rgba(255, 255, 255, 0.2);
  --color-interaction-support-unselected: #a0a4ad;
  --color-interaction-support-selected: #666c7a;
  --color-interaction-support-unselected-strong: #666c7a;
  --color-interaction-support-disabled: #ededed;
  --color-interaction-support-disabled-content: #a0a4ad;
  --color-interaction-support-placeholder: #a0a4ad;
  --color-interaction-links-default: #50669f;
  --color-interaction-links-hover: #3f527f;
  --color-interaction-links-neutral-default: #454953;
  --color-interaction-links-neutral-hover: #2c2e34;
  --color-interaction-links-inverse-default: #ffffff;
  --color-interaction-links-inverse-hover: #ededed;
  --color-utility-feedback-info: #50669f;
  --color-utility-feedback-info-subtle: #f8f9fc;
  --color-utility-feedback-warning: #ffda68;
  --color-utility-feedback-warning-subtle: #fff5d7;
  --color-utility-feedback-success: #0c7282;
  --color-utility-feedback-success-subtle: #f6fafb;
  --color-utility-feedback-critical: #b1434a;
  --color-utility-feedback-critical-subtle: #fef7f8;
  --color-utility-focus-default: #50669f;
  --color-utility-focus-inverse: #ffffff;
  --color-utility-input-prefilled: #fff5d7;
  --color-utility-ui: #ffffff;
  --color-utility-ui-clear: rgba(255, 255, 255, 0);
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 56px;
  --spacing-14: 64px;
  --border-radius-default: 4;
  --border-radius-circle: 50%;
  --shadow-sm: 0px 0px 10px 0px rgba(191, 191, 191, 0.5);
  --shadow-md: 0px 0px 20px 0px rgba(104, 104, 104, 0.3);
  --typography-font-families-inter: Inter;
  --typography-font-families-ibmplexmono: IBM Plex Mono;
  --typography-line-heights-3: 0.75rem;
  --typography-line-heights-4: 1rem;
  --typography-line-heights-5: 1.25rem;
  --typography-line-heights-6: 1.5rem;
  --typography-line-heights-7: 1.75rem;
  --typography-line-heights-8: 2rem;
  --typography-line-heights-9: 2.25rem;
  --typography-line-heights-10: 2.5rem;
  --typography-line-heights-11: 2.75rem;
  --typography-line-heights-12: 3rem;
  --typography-line-heights-13: 3.25rem;
  --typography-line-heights-14: 3.5rem;
  --typography-line-heights-15: 3.75rem;
  --typography-line-heights-16: 4rem;
  --typography-line-heights-17: 4.25rem;
  --typography-line-heights-18: 4.5rem;
  --typography-font-weights-light: 300;
  --typography-font-weights-normal: 400;
  --typography-font-weights-medium: 500;
  --typography-font-weights-semibold: 600;
  --typography-font-weights-bold: 700;
  --typography-font-size-2-xs: 0.625rem;
  --typography-font-size-xs: 0.75rem;
  --typography-font-size-sm: 0.875rem;
  --typography-font-size-md: 1rem;
  --typography-font-size-lg: 1.125rem;
  --typography-font-size-xl: 1.25rem;
  --typography-font-size-2-xl: 1.5rem;
  --typography-font-size-3-xl: 1.75rem;
  --typography-font-size-4-xl: 2rem;
  --typography-font-size-5-xl: 2.25rem;
  --typography-font-size-6-xl: 2.5rem;
  --typography-font-size-7-xl: 2.75rem;
  --typography-font-size-8-xl: 3rem;
  --typography-font-size-9-xl: 3.5rem;
  --typography-font-size-10-xl: 4rem;
  --typography-font-size-11-xl: 4.5rem;
  --typography-letter-spacing-1: -0.006em;
  --typography-letter-spacing-2: -0.014em;
  --typography-letter-spacing-3: -0.019em;
  --typography-letter-spacing-4: -0.022em;
  --typography-letter-spacing-wide: 0.08em;
  --typography-letter-spacing-normal: 0;
  --typography-paragraph-spacing-0: 0;
  --typography-text-case-none: none;
  --typography-text-case-uppercase: uppercase;
  --typography-text-decoration-none: none;
  --border-width-default: 1;
  --border-width-focus: 2;
}
.typography-responsive-display-heavy-1280 {
  font-family: Inter;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -0.022em;
}
.typography-responsive-display-heavy-480 {
  font-family: Inter;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.022em;
}
.typography-responsive-display-heavy {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.022em;
}
.typography-responsive-display-light-1280 {
  font-family: Inter;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4.5rem;
  letter-spacing: -0.022em;
}
.typography-responsive-display-light-480 {
  font-family: Inter;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: -0.022em;
}
.typography-responsive-display-light {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-heavy-1280 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-heavy-480 {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-heavy {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-light-1280 {
  font-family: Inter;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-light-480 {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -0.022em;
}
.typography-responsive-heading-light {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: -0.022em;
}
.typography-h1 {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.022em;
}
.typography-h2 {
  font-family: Inter;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.022em;
}
.typography-h3 {
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.019em;
}
.typography-h4 {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.019em;
}
.typography-h5 {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: -0.014em;
}
.typography-h6 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.014em;
}
.typography-subhead-1 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.006em;
}
.typography-subhead-2 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.typography-subhead-3 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.08em;
}
.typography-body-1 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.006em;
}
.typography-body-2 {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.typography-body-3 {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.006em;
}
.typography-caption-1 {
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}
.typography-caption-2 {
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.typography-code-1 {
  font-family: IBM Plex Mono;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.typography-code-2 {
  font-family: IBM Plex Mono;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}
.typography-legal {
  font-family: Inter;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}
